*{
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

.header{
    height: auto;                                       /* это если что задумано ) */
    background-color: rgba(54, 54, 54, 0.616);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: sticky;
    top: 0;
}

.logo{
    height: 50px;
}

.flex-item{
    font-size: 20px;
    height: auto;
    width: auto;
    color: white;
}

button{
    background-color: transparent;
    border-color: transparent;
}

.img{
    text-align: center;
    margin: 20px;
}

h1{
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
}

.logo-wrapper{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time {
    color: black;
    font-size: 30px;
    text-align: center;
}

.custom-button {
    background-color: transparent;
    border-color: transparent;
}

img {
    width: 500px;
}